{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}

<section class="cart-page">

<h1>Your Cart</h1>

<div id="cart-items"></div>

<div class="cart-total">

<h2>Total:
<span id="total">₦0</span>
</h2>


<a href="/checkout" class="btn">
Proceed to Checkout
</a>

</div>

</section>

<script>

const cart = JSON.parse(localStorage.getItem("cart")) || [];

const container = document.getElementById("cart-items");
const total = document.getElementById("total");

function renderCart(){

container.innerHTML = "";

let sum = 0;

if(cart.length === 0){

container.innerHTML = "<h2>Your cart is empty.</h2>";

total.innerHTML = "₦0";

return;

}

cart.forEach((item,index)=>{

sum += item.price * item.quantity;

container.innerHTML += 

<div class="cart-item">

<img src="/static/${item.image}">

<div class="cart-info">

<h3>${item.name}</h3>

<p>₦${item.price.toLocaleString()}</p>

<div class="qty-box">

<button onclick="decrease(${index})">−</button>

<span>${item.quantity}</span>

<button onclick="increase(${index})">+</button>

</div>

<button class="remove-btn" onclick="removeItem(${index})">

Remove

</button>

</div>

</div>

;

});

total.innerHTML = "₦" + sum.toLocaleString();

localStorage.setItem("cart", JSON.stringify(cart));

}

function increase(index){

cart[index].quantity++;

renderCart();

}

function decrease(index){

if(cart[index].quantity > 1){

cart[index].quantity--;

}else{

cart.splice(index,1);

}

renderCart();

}

function removeItem(index){

cart.splice(index,1);

renderCart();

}

renderCart();

</script>

{% endblock %}